#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .caja:hover {
        background-color: lightcoral; /* Cambia de color al pasar el mouse */
    }